@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$shift_icon: "🌄🌞🌙😷";
body {
    .card-header {
        background-color: transparent;
        border: 1px solid gray;
    }
    table {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        width: 100%;
        td {
            width: 14%;
            height: 80px;
            transition: 0.3s;
            vertical-align: middle;
        }
        td:not(:empty):hover {
            cursor: pointer;
            background-color: rgba(119, 119, 119, 0.6);
            font-size: 0;
            transition: 0.3s;
        }
        td:not(:empty):hover:after {
            content: $shift_icon;
            font-size: 0.9rem;
        }
    }
}