@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body .sidebar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body .sidebar-wrapper .sidebar {
  background-color: #01A299;
  min-width: 100%;
}

body .sidebar-wrapper .sidebar ul {
  margin-top: 60%;
  list-style: none;
}

body .sidebar-wrapper .sidebar ul li {
  padding-bottom: 20px;
}

body .sidebar-wrapper .sidebar ul li a {
  color: #FFFFFF;
}

body .sidebar-wrapper .sidebar ul li a:hover {
  text-decoration: none;
}

body .sidebar-wrapper .sidebar .h5 {
  padding-left: 14px;
}

body .sidebar-wrapper .sidebar .fa-user-edit,
body .sidebar-wrapper .sidebar .fa-user {
  font-size: 24px;
}

body .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  min-height: 135px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

body .avatar-wrapper {
  width: 200px;
}

body .avatar-wrapper #change-picture {
  position: relative;
  left: 139px;
  bottom: 196px;
  border-style: none;
  background: transparent;
}

body .edit-form-wrapper {
  width: 647px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body .edit-form-wrapper .change {
  border-style: none;
  background: transparent;
  padding: 0;
}

body .edit-form-wrapper .h6 {
  color: rgba(0, 0, 0, 0.38);
}

body .edit-form-wrapper .h6-prompt {
  color: #01A299;
  text-decoration: underline;
  -webkit-text-decoration-color: #01A299;
          text-decoration-color: #01A299;
}

body .h5 {
  text-align: center;
}

body .subtitle1 {
  text-align: center;
}

body .divider {
  display: block;
  height: 1px;
  width: 90%;
  border: 0.5px solid #000000;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

body .information-card {
  height: 85vh;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
}

body .information-card .profile-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: start;
  -ms-flex-item-align: start;
      align-self: start;
}

body .information-card .profile-information p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5%;
}

body .calendar {
  height: 85vh;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

.p-20px {
  padding: 20px;
}

.subtitle1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
}

.h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}

.h2 {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.h1 {
  color: #03DAC5;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
}
/*# sourceMappingURL=styles.css.map */